.product-card {
    background: #111;
    border: 1px solid #222;
    border-radius: 15px;
    padding: 10px;
    position: relative;
    transition: 0.3s;
}
.product-card:hover {
    border-color: var(--gold);
    transform: translateY(-3px);
}
.shop-tab {
    background: #1a1a1a;
    color: gray;
    border: 1px solid #333;
    padding: 8px 15px;
    border-radius: 20px;
    font-size: 12px;
    cursor: pointer;
    white-space: nowrap;
}
.shop-tab.active {
    background: var(--gold);
    color: black;
    font-weight: bold;
    border-color: var(--gold);
}
